In [7]:
import pandas as pd

In [8]:
# 2 main datatypes

series = pd.Series(["BMW", "Toyota", "Honda"])
series

In [5]:
# series = 1-dimensional

In [6]:
colours = pd.Series(["Red", "Blue", "White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [9]:
# DataFrame = 2-dimensional

In [11]:
car_data = pd.DataFrame({"Car make" : series, "Colour" : colours})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [12]:
# Import data